@import 'colors';

@font-face {
  font-family:'Bebas_Neue_Bold';
  src: url('../fonts/Bebas_Neue_Bold_Regular.eot');
  src: url('../fonts/Bebas_Neue_Bold_Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Bebas_Neue_Bold_Regular.woff2') format('woff2'),
  url('../fonts/Bebas_Neue_Bold_Regular.woff') format('woff'),
  url('../fonts/Bebas_Neue_Bold_Regular.svg#Bebas_Neue_Bold_Regular') format('svg');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-0451;
}
body {
  font-family: 'Ubuntu', 'Helvetica', sans-serif;
  color: $grey;
  padding-top: 77px;
}
h2 {
  font-size: 42px;
  line-height: 46px;
  font-weight: bold;
  margin-bottom: 30px;
}
h3 {
  font-size: 30px;
  line-height: 34px;
  font-weight: bold;
  margin-bottom: 20px;
}
p {
  font-size: 14px;
  line-height: 26px;
  &.light {
    font-weight: 300;
    color: $light;
  }
}
.button {
  transition: all 0.1s linear;
  cursor: pointer;
  display: inline-block;
  padding: 20px 35px;
  background-color: $orange;
  color: #ffffff;
  border-radius: 35px;
  font-size: 14px;
  font-weight: 300;
  &:hover {
    background-color: $darkOrange;
  }
  &.drop-shadow {
    box-shadow: 5px 8.66px 35px 8px rgba( 247, 90, 42, 0.1 );
  }
}
