@import 'colors';
@import 'breakpoints';

@font-face {
  font-family:'Bebas_Neue_Bold';
  src: url('../fonts/Bebas_Neue_Bold_Regular.eot');
  src: url('../fonts/Bebas_Neue_Bold_Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Bebas_Neue_Bold_Regular.woff2') format('woff2'),
  url('../fonts/Bebas_Neue_Bold_Regular.woff') format('woff'),
  url('../fonts/Bebas_Neue_Bold_Regular.svg#Bebas_Neue_Bold_Regular') format('svg');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-0451;
}
body {
  font-family: 'Ubuntu', 'Helvetica', sans-serif;
  color: $grey;
  padding-top: 77px;
  @media ($bpxs) {
    padding-top: 0;
  }
}
h2 {
  font-size: 42px;
  line-height: 46px;
  font-weight: bold;
  margin-bottom: 30px;
  @media ($bpmd) {
    font-size: 36px;
    line-height: 40px;
  }
}
h3 {
  font-size: 30px;
  line-height: 34px;
  font-weight: bold;
  margin-bottom: 10px;
}
.sub-title {
  font-size: 18px;
  text-align: center;
}
p {
  font-size: 14px;
  line-height: 26px;
  color: $text;
  margin: 0 0 10px 0;
  &.light {
    font-weight: 300;
    color: $light;
  }
}
.button {
  text-align: center;
  transition: all 0.1s linear;
  cursor: pointer;
  display: inline-block;
  padding: 20px 35px;
  background-color: $orange;
  color: #ffffff;
  border-radius: 35px;
  font-size: 14px;
  font-weight: 300;
  &:hover {
    background-color: $darkOrange;
  }
  &.drop-shadow {
    box-shadow: 5px 8.66px 35px 8px rgba( 247, 90, 42, 0.1 );
  }
  &.dark {
    padding-left: 50px;
    padding-right: 50px;
    background-image: -moz-linear-gradient( 20deg, rgb(254,128,69) 0%, rgb(255,138,83) 36%, rgb(255,147,97) 100%);
    background-image: -webkit-linear-gradient( 20deg, rgb(254,128,69) 0%, rgb(255,138,83) 36%, rgb(255,147,97) 100%);
    background-image: -ms-linear-gradient( 20deg, rgb(254,128,69) 0%, rgb(255,138,83) 36%, rgb(255,147,97) 100%);
    &:hover {
      color: #ffffff;
      text-decoration: none;
      background-image: -moz-linear-gradient( 180deg, rgb(254,128,69) 0%, rgb(255,138,83) 50%, rgb(255,147,97) 100%);
      background-image: -webkit-linear-gradient( 180deg, rgb(254,128,69) 0%, rgb(255,138,83) 50%, rgb(255,147,97) 100%);
      background-image: -ms-linear-gradient( 180deg, rgb(254,128,69) 0%, rgb(255,138,83) 50%, rgb(255,147,97) 100%);
    }
  }
  &.point {
    transition: none;
    background-image: -moz-linear-gradient( 20deg, rgb(254,78,69) 0%, rgb(255,113,83) 36%, rgb(255,147,97) 100%);
    background-image: -webkit-linear-gradient( 20deg, rgb(254,78,69) 0%, rgb(255,113,83) 36%, rgb(255,147,97) 100%);
    background-image: -ms-linear-gradient( 20deg, rgb(254,78,69) 0%, rgb(255,113,83) 36%, rgb(255,147,97) 100%);
    &:hover {
      background: #f65f4d;
      color: #ffffff;
      text-decoration: none;
    }
  }
}
.modal-content {
  border: none;
}
.mod-head {
  position: relative;
  padding: 40px 40px 20px 40px;
  h3 {
    font-weight: 500;
  }
  .block-head-divider {
    margin-top: 12px;
    background: #FF5C58;
  }
  @media (max-width: 400px) {
    h3 {
      font-size: 26px;
      line-height: 32px;
    }
  }
}
.close-but {
  transition: all 0.2s linear;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    font-size: 40px;
  }
  &:hover {
    background: rgba(0,0,0,0.1);
  }
}
.modal-slider {
  max-width: 70%;
  margin: 0 auto;
  position: relative;
  @media (max-width: 400px) {
    max-width: 100%;
  }
  .carousel-control-prev {
    top: 210px;
    left: auto;
    right: 100%;
    margin-right: 30px;
    transition: all 0.2s linear;
    width: 80px;
    height: 80px;
    background: #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 20px rgba(0,0,0,.5);
    .slider-arr {
      margin-left: -4px;
    }
    &:focus {
      opacity: 0.5;
    }
    &:hover {
      opacity: 1;
    }
    @media (max-width: 400px) {
      top: 20%;
      width: 60px;
      height: 60px;
      margin-right: 0;
      right: auto;
      left: 0;
    }
  }
  .carousel-control-next {
    top: 210px;
    right: auto;
    left: 100%;
    margin-left: 30px;
    transition: all 0.2s linear;
    width: 80px;
    height: 80px;
    background: #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 20px rgba(0,0,0,.5);
    .slider-arr {
      margin-right: -4px;
    }
    &:focus {
      opacity: 0.5;
    }
    &:hover {
      opacity: 1;
    }
    @media (max-width: 400px) {
      top: 20%;
      width: 60px;
      height: 60px;
      margin-left: 0;
      left: auto;
      right: 0;
    }
  }
}
.modal-dialog {
  &.custom-width {
    max-width: 600px;
  }
}
.modal-wave {
  position: relative;
  svg {
    display: block;
    width: 100%;
    fill: #FF5B58;
  }
  border-radius: 0 0 4px 4px;
  overflow: hidden;
  margin-top: -65px;
}
.modal-wave-result {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  color: #ffffff;
  font-size: 22px;
  @media (max-width: 400px) {
    font-size: 16px;
  }
}


