@import 'colors';
@import 'main';

@mixin gradient {
  background-image: -moz-linear-gradient( 22deg, rgb(250,127,76) 0%, rgb(251,51,96) 100%);
  background-image: -webkit-linear-gradient( 22deg, rgb(250,127,76) 0%, rgb(251,51,96) 100%);
  background-image: -ms-linear-gradient( 22deg, rgb(250,127,76) 0%, rgb(251,51,96) 100%);
}

@mixin abs-full {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@mixin rotate {
  transform: skewX(-8deg) rotate(-6deg);
}

@mixin centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// ======= NAVIGATION =======
.navigation {
  z-index: 10;
  background: #ffffff;
  .container {
    display: flex;
    flex-direction: row;
  }
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 77px;
}
.logo {
  cursor: pointer;
  height: 76px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  bottom: -10px;
}
.logo-img {
  width: 82px;
  margin-right: 20px;
  border: 3px solid #ffffff;
  border-radius: 50%;
}
.slogan {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  padding-bottom: 16px;
  width: 160px;
}
.menu {
  width: 100%;
  padding: 10px;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}
.menu-item {
  cursor: pointer;
  padding: 10px;
  font-size: 12px;
  text-align: center;
  display: inline-block;
  margin: 5px;
  font-weight: 500;
  position: relative;
  &:after {
    transition: all 0.2s linear;
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 3px;
    width: 0;
    background: #f64f53;
  }
  &:hover {
    &:after {
      left: 0;
      width: 100%;
    }
  }
  &.last {
    margin-right: 20px;
  }
}
.pk-button {
  transition: all 0.1s linear;
  cursor: pointer;
  display: inline-block;
  padding: 15px 25px;
  background-image: -moz-linear-gradient( 180deg, rgb(254,78,85) 0%, rgb(254,103,77) 64%, rgb(254,128,69) 100%);
  background-image: -webkit-linear-gradient( 180deg, rgb(254,78,85) 0%, rgb(254,103,77) 64%, rgb(254,128,69) 100%);
  background-image: -ms-linear-gradient( 180deg, rgb(254,78,85) 0%, rgb(254,103,77) 64%, rgb(254,128,69) 100%);
  color: #ffffff;
  border-radius: 25px;
  font-size: 14px;
  font-weight: 300;
  &:hover {
    //background: #FE4E55;
    margin-top: -2px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  }
}
// ======= MAIN =======
.main {
  min-height: 500px;
  background: url('../img/back.jpg') top center;
  background-size: cover;
  overflow: hidden;
}
.main-wrapper {
  height: 780px;
  position: relative;
}
.main-girls {
  position: absolute;
  top: 100px;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.main-info {
  position: absolute;
  top: 135px;
  left: 0;
}
.company-name {
  margin-bottom: 26px;
  position: relative;
  background: #ffffff;
  padding: 24px 20px 15px 2px;
  text-transform: uppercase;
  font-family: 'Bebas_Neue_Bold', Helvetica, sans-serif;
  font-size: 123px;
  font-weight: 700;
  font-style: italic;
  line-height: 120px;
  color: #d44935;
  height: 156px;
  &:before {
    content: '';
    width: 0; height: 0;
    border-bottom: 156px solid #ffffff;
    border-left: 30px solid transparent;
    position: absolute;
    right: 100%;
    bottom: 0;
  }
  &:after {
    content: '';
    width: 0; height: 0;
    border-top: 156px solid #ffffff;
    border-right: 30px solid transparent;
    position: absolute;
    left: 100%;
    top: 0;
  }
}
.main-school {
  font-size: 24px;
  line-height: 31px;
  color: #ffffff;
  max-width: 380px;
  font-weight: 300;
  margin-bottom: 30px;
}
.main-but-wrap {
  background: #ffffff;
  border-radius: 35px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  padding-right: 20px;
  margin-bottom: 40px;
}
.mbw-text {
  font-size: 16px;
  margin-left: 20px;
}
.s-but {
  transition: all 0.1s linear;
  cursor: pointer;
  display: inline-block;
  padding: 15px 25px;
  background: #ffa960;
  color: #ffffff;
  border-radius: 25px;
  font-size: 14px;
  font-weight: 300;
  &:hover {
    background: #e09554;
  }
  &_main {
    font-size: 16px;
    padding: 20px 40px;
    border-radius: 35px;
  }
}
.mbw-arr {
  vertical-align: middle;
  width: 12px;
  height: 12px;
  fill: #333333;
}
.season-start {
  font-size: 20px;
  color: #7f2b1f;
  svg {
    fill: #7f2b1f;
    width: 36px;
    height: 36px;
    vertical-align: middle;
    margin-right: 15px;
  }
}
// ======= ABOUT =======
.white-block {
  background: $bgLight;
  position: relative;
}
.wave-top {
  z-index: 1;
  position: absolute;
  bottom: 100%;
  width: 100%;
  left: 0;
  fill: $bgLight;
}
.wave-bottom {
  z-index: 2;
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  fill: $bgLight;
}
.about-wrap {
  padding: 100px 0;
}
.about-img {
  overflow: hidden;
  display: inline-block;
  border: 14px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 59px 8px rgba( 255, 121, 87, 0.2 );
  position: relative;
  cursor: pointer;
  &:hover {
    .about-img-ovl {
      background: rgba(0,0,0,0.2);
    }
    .play {
      background: rgba(255,255,255,0.7);
    }
  }
}
.about-img-ovl {
  transition: all 0.2s linear;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.play {
  transition: all 0.2s linear;
  width: 86px;
  height: 86px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255,255,255,0.5);
  &:after {
    content: '';
    width: 0; height: 0;
    border-top: 15px solid transparent;
    border-left: 30px solid $pink;
    border-bottom: 15px solid transparent;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-35%, -50%);
  }
}
.about-left {
  position: relative;
  display: inline-block;
}
.arr-desc {
  position: absolute;
  top: 0;
  left: 0;
}
.desc {
  position: absolute;
  font-size: 19px;
  width: 180px;
  z-index: 1;
  text-align: left;
  top: -28px;
  left: 16px;
  transform: rotate(-6deg);
  font-style: italic;
  line-height: 22px;
}
.about-prize {
  @include rotate;
  text-align: left;
  position: absolute;
  background: #ffffff;
  padding: 20px 40px;
  bottom: -37px;
  right: 0;
  box-shadow: 0 0 59px 8px rgba( 255, 121, 87, 0.2 );
  &__title {
    font-size: 24px;
    line-height: 26px;
    font-weight: bold;
  }
  &__sum {
    margin-left: -8px;
    font-style: normal;
    font-size: 72px;
    line-height: 72px;
    height: 68px;
    font-family: 'Bebas_Neue_Bold', Helvetica, sans-serif;
    color: $million;
    .rub {
      font-size: 69px;
      font-family: 'Ubuntu', 'Helvetica', sans-serif;
    }
  }
  &__notice {
    font-size: 22px;
    line-height: 22px;
  }
}
.about-right {
  padding: 20px 40px;
}
.awards {
  margin: 25px 0 55px 0;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  font-style: italic;
  color: $light;
  font-weight: 300;
  &__icon {
    height: 46px;
    margin-right: 20px;
  }
  &__name {
    font-style: normal;
    color: $diamond;
    display: inline-block;
    margin-right: 5px;
    font-weight: bold;
    text-decoration: underline;
  }
}
.about-ball {
  z-index: 3;
  @include gradient;
  border-radius: 50%;
  position: absolute;
  &.top {
    width: 54px;
    height: 54px;
    top: -41px;
    right: -10px;
  }
  &.bottom {
    width: 154px;
    height: 154px;
    bottom: -205px;
    right: -80px;
  }
}
// ======= BENEFITS =======
.black-block {
  overflow: hidden;
  position: relative;
  //min-height: 1000px;
  background: $dark;
  color: #ffffff;
  &__background {
    @include abs-full;
    z-index: 1;
  }
  //&__content {
    //@include abs-full;
    //z-index: 2;
  //}
}.rounds {
   z-index: -1;
   border-radius: 50%;
   border: 2px solid #1b1c1d;
   position: absolute;
   &:after {
     content: '';
     border-radius: 50%;
     height: 82%;
     width: 82%;
     border: 2px solid #1b1c1d;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
   }
   &.bottom {
     width: 700px;
     height: 700px;
     left: 100%;
     top: 100%;
     transform: translate(-70%, -60%);
   }
   &.top {
     width: 700px;
     height: 700px;
     right: 100%;
     bottom: 100%;
     transform: translate(60%, 70%);
   }
 }

.benefits {
  padding: 120px 0;
}
.benefit {
  z-index: 2;
  margin: 35px 10px;
}
.benefits-block {
  margin-bottom: 20px;
  display: inline-block;
  position: relative;
  &:before {
    z-index: 1;
    border-radius: 50%;
    content: '';
    @include gradient;
    position: absolute;
  }
  &:after {
    z-index: 1;
    border-radius: 50%;
    content: '';
    @include gradient;
    position: absolute;
  }
}
.style1 {
  &:before {
    width: 150px;
    height: 150px;
    bottom: 22px;
    left: -30px;
  }
  &:after {
    width: 64px;
    height: 64px;
    top: 5px;
    right: 25px;
  }
}
.style2 {
  &:before {
    width: 150px;
    height: 150px;
    bottom: 22px;
    left: -6px;
  }
  &:after {
    display: none
  }
}
.style3 {
  &:before {
    display: none;
  }
  &:after {
    width: 124px;
    height: 124px;
    top: 20px;
    right: 0;
  }
}
.style4 {
  &:before {
    width: 64px;
    height: 64px;
    top: 29px;
    left: 7px;
  }
  &:after {
    width: 124px;
    height: 124px;
    bottom: 20px;
    right: 0;
  }
}
.style5 {
  &:before {
    display: none;
  }
  &:after {
    width: 124px;
    height: 124px;
    bottom: 20px;
    right: 0;
  }
}
.style6 {
  &:before {
    width: 64px;
    height: 64px;
    top: 28px;
    left: 21px;
  }
  &:after {
    width: 160px;
    height: 160px;
    bottom: 9px;
    right: -13px;
  }
}
.ben-img-wrap {
  position: relative;
  z-index: 2;
  border-radius: 50%;
  width: 242px;
  height: 242px;
  background: rgba(255,255,255,0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.ben-img {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}
.ben-notice {
  position: relative;
  z-index: 1;
  max-width: 320px;
  padding-left: 91px;
  text-align: left;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
}
.ben-title {
  display: inline-block;
  text-align: left;
  background: #ffffff;
  padding: 14px 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
  font-size: 24px;
  line-height: 28px;
  color: $darkRed;
  font-weight: bold;
  @include rotate;
}
.ben-head {
  margin-bottom: 40px;
}
// ======= PRIZES =======
.prizes {
  padding: 60px 0 90px 0;
}
.places {
  position: relative;
  border: 2px solid $roundsPlace;
  width: 800px;
  height: 800px;
  margin: 150px auto;
  border-radius: 50%;
  &:after {
    content: '';
    width: 82%;
    height: 82%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid $roundsPlaceInner;
    border-radius: 50%;
  }
}
.main-prize {
  position: absolute;
  z-index: 1;
  top: -100px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 390px;
  height: 390px;
  border-radius: 50%;
  @include gradient;
  text-align: center;
  padding-top: 95px;
}
.place {
  font-size: 24px;
  font-weight: bold;
  opacity: 0.5;
}
.main-prize-sum {
  @include rotate;
  margin: 15px 0 25px 0;
  font-style: normal;
  font-size: 86px;
  line-height: 86px;
  height: 86px;
  font-family: 'Bebas_Neue_Bold', Helvetica, sans-serif;
  color: #ffffff;
  .rub {
    font-size: 80px;
    font-family: 'Ubuntu', 'Helvetica', sans-serif;
  }
}
.main-prize-take {
  font-size: 20px;
  color: #ffffff;
}
.prize-item {
  z-index: 1;
  position: absolute;
  .place {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    margin-bottom: 26px;
    width: 100%;
    text-align: center;
  }
}
.prize-name {
  position: absolute;
  top: 100%;
  width: 100%;
  margin-top: 20px;
  text-align: center;
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
}
.prize-img {
  box-shadow: 5px 8.66px 46px 8px rgba(255,121,87,0.5);
  background-size: cover;
  background-position: center;
  width: 236px;
  height: 236px;
  border-radius: 50%;
  &:before {
    z-index: -1;
    border-radius: 50%;
    content: '';
    @include gradient;
    position: absolute;
    width: 60px;
    height: 60px;
    top: 23px;
    left: 4px;
  }
  &:after {
    z-index: -1;
    border-radius: 50%;
    content: '';
    @include gradient;
    position: absolute;
    width: 124px;
    height: 124px;
    bottom: 17px;
    right: -6px;
  }
}
.prize1 {
  right: 100%;
  top: 24%;
  transform: translate(50%, 0);
}
.prize2 {
  left: 100%;
  top: 24%;
  transform: translate(-50%, 0);
}
.prize3 {
  left: 10%;
  top: 80%;
}
.prize4 {
  right: 10%;
  top: 80%;
}
// ======= PRIZES =======
.teachers {
  padding: 100px 0;
  background: url('../img/teachersbg.jpg') top center;
  background-size: cover;
  overflow: hidden;
}
.teachers-head {
  color: #ffffff;
  margin-bottom: 100px;
}
.teacher-block {
  background: #ffffff;
  border-radius: 42px;
  padding: 40px 50px;
  display: flex;
  flex-direction: row;
  max-width: 876px;
  margin-bottom: 100px;
}
.teacher-img-wrap {
  position: relative;
  z-index: 2;
  border-radius: 50%;
  width: 285px;
  height: 285px;
  background: rgba(255,255,255,0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.teacher-img {
  width: 92%;
  height: 92%;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}
.teacher-contacts {
  margin-top: -95px;
}
.teacher-icons-wrap {
  text-align: center;
}
.teacher-icon {
  width: 24px;
  height: 24px;
  fill: $iconOrange;
  margin: 12px;
  cursor: pointer;
  &:hover {
    fill: #f6786a;
  }
}
.teachers-header {
  margin-bottom: 20px;
}
.teacher-info {
  margin-bottom: 20px;
}
.daria-left {
  flex: none;
  .teacher-contacts {
    padding-right: 20px;
  }
}
.daria-right {
  position: relative;
}
.teacher-main {
  .button {
    position: absolute;
    top: 100%;
    left: 0;
  }
}
.sasha-left {
  position: relative;
  text-align: right;
  .teacher-main {
    .button {
      left: inherit;
      right: 0;
    }
  }
}
.sasha-right {
  flex: none;
  .teacher-contacts {
    padding-left: 20px;
  }
}
.teacher-row {
  display: flex;
  &.left {
    justify-content: flex-start;
  }
  &.right {
    justify-content: flex-end;
  }
}
.teachers-background {
  position: relative;
  z-index: 1;
}
.teacher-rounds {
  z-index: -1;
  border-radius: 50%;
  border: 2px solid #ea7468;
  position: absolute;
  &:after {
    content: '';
    border-radius: 50%;
    height: 82%;
    width: 82%;
    border: 2px solid #ea7468;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  &.top {
    width: 760px;
    height: 760px;
    left: 100%;
    bottom: 100%;
    transform: translate(-65%, 55%);
  }
  &.bottom {
    width: 760px;
    height: 760px;
    right: 100%;
    top: 100%;
    transform: translate(80%, -50%);
    border-color: #e0594c;
    &:after {
      border-color: #e0594c;
    }
  }
}
// ======= MAP =======
.map-block-wrap {
  padding: 100px 0;
}
.head-divider {
  background: $divider;
  height: 4px;
}
.map-info {
  margin: 30px 0 40px 0;
}
.map {
  fill: $map;
  .active {
    fill: $mapActive;
  }
}
.map-wrap {
  padding: 0 20px;
  position: relative;
  z-index: 1;
}
.map-rounds {
  z-index: -1;
  position: absolute;
  left: 50%;
  width: 59%;
  padding-top: 60%;
  top: 50%;
  transform: translate(-50%, -50%);
  &:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border: 2px solid $map;
    border-radius: 50%;
  }
  &:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 83%;
    height: 83%;
    border: 2px solid $map;
    border-radius: 50%;
  }
}
.map-label {
  position: absolute;
  background: $mapLabel;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  &:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: 16px solid $mapLabel;
    position: absolute;
    top: 82%;
    left: 50%;
    transform: translate(-50%, 0);
  }
  &__title {
    padding: 2px 10px;
    border-radius: 10px;
    font-size: 11px;
    position: absolute;
    top: 6px;
    left: 50%;
    transform: translate(-50%, 0);
    background: #ffffff;
  }
}
.russia {
  top: 27%;
  right: 23%;
}
.china {
  top: 44%;
  right: 23%;
}
.ukraine {
  top: 36%;
  right: 41%;
}
.usa {
  top: 40%;
  left: 18%;
}
.canada {
  top: 26%;
  left: 15%;
}
// ======= REVIEWS =======
.reviews {
  min-height: 700px;
  background: url('../img/teachersbg.jpg') center;
  background-size: cover;
  padding: 140px 0 0 0;
  color: #ffffff;
  margin-bottom: -175px;
  position: relative;
}
.block-head-divider {
  height: 4px;
  width: 80px;
  margin: 20px auto;
  background: #b6574e;
}
.reviews-bg {
  opacity: 0.1;
  margin: 0 auto;
  width: 60%;
  padding-top: 60%;
  position: relative;
  &:after {
    border-radius: 50%;
    @include centered;
    content: '';
    width: 100%;
    height: 100%;
    border: 2px solid #000000;
  }
}
.reviews-rounds {
  border-radius: 50%;
  @include centered;
  width: 82%;
  height: 82%;
  border: 2px solid #000000;
  &:after {
    border-radius: 50%;
    content: '';
    @include centered;
    width: 76%;
    height: 76%;
    background: #000000;
  }
}
.reviews-head {
  margin-bottom: 80px;
}
.reviews-slider-wrap {
  position: absolute;
  top: 250px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 320px;
  z-index: 2;
}
.iphone {
  width: 100%;
}
.reviews-slider {
  position: absolute;
  width: 275px;
  height: 470px;
  top: 97px;
  left: 22px;
  .carousel-control-prev {
    bottom: 50%;
    top: auto;
    left: auto;
    right: 100%;
    transition: all 0.2s linear;
    width: 100px;
    height: 100px;
    background: #ffffff;
    margin-right: 60px;
    border-radius: 50%;
    &:focus {
      opacity: 0.5;
    }
    &:hover {
      opacity: 1;
    }
  }
  .carousel-control-next {
    bottom: 50%;
    top: auto;
    left: 100%;
    right: auto;
    transition: all 0.2s linear;
    width: 100px;
    height: 100px;
    background: #ffffff;
    margin-left: 60px;
    border-radius: 50%;
    &:focus {
      opacity: 0.5;
    }
    &:hover {
      opacity: 1;
    }
  }
}
.slider-arr {
  width: 32px;
  height: 32px;
  fill: #333333;
}
// ======= PARTNERS =======
.partners {
  padding: 170px 0 10px 0;
  h3 {
    color: #b5b5b5;
  }
}
.logos {
  text-align: center;
  margin: 50px 0;
}
.logo-item {
  background: #999999;
  display: inline-block;
  width: 100px;
  margin: 20px 30px;
  vertical-align: middle;
  img {
    width: 100%;
  }
}
// ======= STEPS =======
.steps-block {
  padding: 130px 0 90px 0;
  .block-head-divider {
    background: #fb3f5d;
    height: 6px;
  }
  .sub-title {
    font-weight: 300;
  }
}
.steps {
  margin: 60px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.step-item {
  margin: 10px;
  display: inline-block;
  overflow: hidden;
  &__num {
    float: left;
    @include rotate;
    font-family: Bebas_Neue_Bold, Helvetica ,sans-serif;
    font-size: 110px;
    line-height: 110px;
    margin-right: 10px;
    background: linear-gradient( 22deg, rgb(250,127,76) 0%, rgb(251,51,96) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fb3f5d;
  }
  &__title {
    font-size: 40px;
    line-height: 40px;
    margin-top: 20px;
    margin-bottom: 4px;
    font-weight: 500;
  }
  &__desc {
    font-size: 14px;
  }
}
.step-info {
  margin-left: 60px;
}
// ======= PROGRAMS =======
.programs-block {
  padding: 60px 0;
  min-height: 400px;
  .block-head-divider {
    background: #fe5d4b;
  }
}
.programs {
  margin-top: 60px;
  margin-bottom: -220px;
  position: relative;
  z-index: 2;
}
.program-item {
  background: $bgLight;
  border: 4px solid #ff895d;
  padding: 40px;
  .button {
    width: 80%;
    margin: 0 auto;
    display: block;
  }
}
.program-icon {
  position: relative;
  flex: none;
  margin-right: 20px;
  background-image: -moz-linear-gradient( 20deg, rgb(254,78,69) 0%, rgb(255,113,83) 36%, rgb(255,147,97) 100%);
  background-image: -webkit-linear-gradient( 20deg, rgb(254,78,69) 0%, rgb(255,113,83) 36%, rgb(255,147,97) 100%);
  background-image: -ms-linear-gradient( 20deg, rgb(254,78,69) 0%, rgb(255,113,83) 36%, rgb(255,147,97) 100%);
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    width: 40px;
    height: 40px;
    fill: #ffffff;
  }
}
.program-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
  padding: 0 10px;
}
.program-name {
  font-size: 16px;
  font-weight: 500;
}
.program-point {
  font-size: 16px;
  margin-bottom: 15px;
  line-height: 18px;
}
.program-body {
  margin-bottom: 40px;
}
.program-ribbon {
  position: absolute;
  color: #ffffff;
  text-transform: uppercase;
  background: #ff895d;
  border-radius: 20px;
  padding: 7px 25px;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
// ======= FAME =======
.fame-block {
  padding: 260px 0 100px 0;
  .block-head-divider {
    background: #fe5d4b;
  }
}

