.letter
  .letter-block
    h3 Привет, дорогая!
    p Сейчас ты читаешь письмо, которое изменит твою жизнь! И даже если ты не станешь частью нашей дружной женской семьи - в твоем сердце все равно останутся отзывы и фото-результаты, которые ты увидишь ниже. Ты уже никогда не будешь прежней, зная, что казалось бы невозможное, на самом деле возможно, и стоит как минимум попробовать это на себе…)
  .letter-block
    h3 О проекте
    p Школа Перемен для Женщин "PROкачSHOW"- это интернет-проект, 1 или 2 месяца онлайн-соревнований девушек между собой в закрытом чате проекта. При этом участницей проекта может стать девушка, проживающая в любом уголке земного шара, имеющая доступ в Интернет.
    p В полной 2х месячной программе участия после заполнения подробной анкеты, содержащей вопросы, в том числе о состоянии здоровья и образе жизни участницы, выдаётся индивидуальная Программа Питания и Домашних Тренировок (видео-уроки), с планом их проведения для получения желаемого результата.
  .letter-block
    h3 Каждую неделю участница получает:
    ul
      li Tематические обучающие семинары на темы: правильного питания и тренировок, красоты, стиля и ухода за собой, целеполагания и планирования времени, финансовой грамотности и ведению бизнеса, психологии отношений (в семье, с мужьями, детьми, родителями). Одиноких девушек учим выходить из зоны комфорта и стремлению создать крепкую семью.
      li Лекции и консультации, на очень важные темы о здоровье, от дипломированных специалистов: гинеколога, спортивного эндокринолога, диетолога, психолога, онколога.
      li Pаботу над избавлением от зависимостей (включая поиск и работу над первопричинами): гиперфагия (обжорство, зависимость от вкуса), булимия (переедание, с дальнейшей рвотой), анорексия (добровольный отказ от пищи), курение, подконтрольное употребление алкоголя (по выходным), подконтрольное употребление наркотиков (от случая к случаю)
